---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ ocp4_workload_create_rwx_volume_pv_name }}
spec:
  capacity:
    storage: {{ ocp4_workload_create_rwx_volume_pv_storage }}
  accessModes:
    - ReadWriteMany
  mountOptions:
    - allow-delete
    - region {{ ocp4_workload_create_rwx_volume_region }}
  csi:
    driver: s3.csi.aws.com
    volumeHandle: s3-csi-{{ guid }}-handle
    volumeAttributes:
      bucketName: {{ ocp4_workload_create_rwx_volume_s3_bucket_name }}
